---
layout: default
---
<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

{% for post in site.posts %}
  <article>
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="meta">
      {{ post.date | date_to_string }}
      <span class="reading-time">&middot; {% include reading_time.html content=post.content %}</span>
    </p>
    {% if post.categories %}
    <p class="post-categories">
      {% for category in post.categories %}
      <span class="post-category">{{ category }}</span>
      {% endfor %}
    </p>
    {% endif %}
    {{ post.excerpt }}
  </article>
{% endfor %}
